.Shuffle {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;

  .Back {
    width: fit-content;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 600;
  }

  .Content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 72vh;
    overflow-y: scroll;
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 1);

    .container_Content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      background-color: rgba(0, 0, 0, 0.276);
      padding: 0.5rem 0.6rem;
      border-radius: 1.4rem;

      .mainContent {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 75px;
          height: 75px;
          border-radius: 1.6rem;
        }

        .infoTrack {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          h2 {
            font-size: 0.7rem;
            text-transform: uppercase;
          }

          h3 {
            font-size: 0.8rem;
            color: #939393;
            font-weight: 600;
          }

          h4 {
            font-weight: 500;
            font-size: 0.8rem;
          }
        }
      }

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        .btnPlay {
          width: 30px;
          height: 30px;
          color: #db00ff;
          filter: drop-shadow(0px 0px 5px #db00ff);
        }

        .btnPause {
          width: 30px;
          height: 30px;
          color: #db00ff;
          filter: drop-shadow(0px 0px 5px #db00ff);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .Shuffle {
    .Content {
      flex-direction: row;
      padding-top: 1rem;
      justify-content: center;
      flex-wrap: wrap;
      box-shadow: none;
      height: 75%;

      .container_Content {
        width: 45%;
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.276);
        padding: 1rem;
        border-radius: 1rem;
        gap: 1rem;

        .mainContent {
          width: 80%;
          .infoTrack {
            h3 {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .Shuffle {
    margin-left: 8rem;

    .Content {
      flex-direction: row;
      flex-wrap: wrap;
      box-shadow: none;

      .container_Content {
        width: 32%;

        .mainContent {
          img {
            width: 100px;
            height: 100px;
          }

          .infoTrack {
            h2 {
              font-size: 1rem;
              text-transform: uppercase;
            }

            h3 {
              font-size: 1rem;
              color: #939393;
              font-weight: 600;
            }

            h4 {
              font-weight: 500;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .Shuffle {
    margin-left: 10rem;

    .Content {
      flex-direction: row;
      flex-wrap: wrap;
      box-shadow: none;
      height: fit-content;

      .container_Content {
        width: 30%;
        padding: 1rem;

        .mainContent {
          img {
            width: 120px;
            height: 120px;
          }

          .infoTrack {
            h2 {
              font-size: 1.1rem;
              text-transform: uppercase;
            }

            h3 {
              font-size: 1.1rem;
              color: #939393;
              font-weight: 600;
            }

            h4 {
              font-weight: 500;
              font-size: 1.1rem;
            }
          }
        }
      }
    }

    .Content::-webkit-scrollbar {
      display: none;
    }
  }
}

/*@media screen and (min-width: 768px) {

    .Shuffle {
        margin-left: 6rem;
        height: 80vh;
    
        .Content{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            overflow-y: scroll;
    
            .container_Content {
                width: 43%;
            }
        }   
    }  
}

@media screen and (min-width: 1024px) {

    .Shuffle {
        margin-left: 7rem;
        height: 80vh;
    
        .Content{
            width: 100%;
            display: flex;
    
            .container_Content {
                width: 43%;
            }
        }
        
        .Content::-webkit-scrollbar{
            display: none;
        }
    }  
}*/
