

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 20px;
    gap: 30px;
    height: 60vh;


    .Back {
      color: white;
      padding: 20px;
      text-decoration: none;
      display: flex;
      padding: 0 20px;
      align-items: center;
      align-self: flex-start;
      text-transform: uppercase;
      font-weight: bold;
      width: fit-content;
    }

    .infoTrack{
      display: none;
    }

    .track{

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      img {
        animation: shadow-pulse 1s infinite;
        border-radius: 100%;
    }

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px #d900ff39;
  }
  100% {
    box-shadow: 0 0 0 26px #ff00ee0b;
  }
}

.containerSong {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

 div {
   display: flex;
   align-items: center;
   gap: 20px;
 }

 button {

   background-color: transparent;
   border: none;

   .Like {
     cursor: pointer;
     color: white;
     font-size: 1.5rem;
     
 }

 .Like:hover {
   color:  #DB00FF;
   filter: drop-shadow(0px 0px 15px #DB00FF);
   
}

.Like_pieno {
 cursor: pointer;
 font-size: 1.5rem;
 color:  #DB00FF;
 filter: drop-shadow(0px 0px 15px #DB00FF);
}

 }
 
}

}

    
}

@media only screen and (min-width: 768px) {

    .main{
        width: 85%;
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -40%);
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;

        margin-top: 1.7rem;
        margin-left: 7rem;
        height: 75vh;


        .infoTrack {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          background-color: rgba(0, 0, 0, 0.276);
          padding: 20px;
          border-radius: 26px;

          img{
            border-radius: 26px;
          }

          .sub_infoTrack{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

          }

          .artistInfo {
           text-align: left;
           display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
            line-height: 30px;
            letter-spacing: 1px;

            .artistName {
              font-weight: bold;
            }

            .sub_artistInfo {
           display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;

            }
            
          }
        }
    
    }

   
    }