.Search {
  width: 85%;
  margin: auto;
  gap: 1rem;

  .Back {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    width: fit-content;
  }

  form {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 4px 4px 2px #000000;
    border-radius: 1rem;
    border: none;
    width: 100%;
    margin: 1rem 0;
    display: flex;

    input {
      background-color: rgb(0, 0, 0);
      padding: 20px;
      border: none;
      color: #cccccc;
      text-transform: uppercase;
      outline: none;
      border-radius: 1rem;
    }

    input[type="text"] {
      width: 100%;
      text-transform: initial;
      font-weight: 600;
    }

    .SearchSubmit::placeholder {
      color: #767676;
    }
  }

  .main {
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    height: 58.5vh;
    overflow-y: scroll;
    color: white;
    margin: auto;
    z-index: 0;
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 1);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .Search {
    .main {
      height: 70vh;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;

      .Track {
        width: 60%;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .Search {
    margin-left: 8rem;

    form {
      width: 30rem;
    }

    .main {
      height: 58.5vh;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-right: 1rem;
      padding-bottom: 0.5rem;
    }

    .main::-webkit-scrollbar {
      display: flex;
      width: 10px;
    }

    .main::-webkit-scrollbar-thumb {
      background-color: #52005f;
      border-radius: 10px;
    }

    .main::-webkit-scrollbar-track {
      background-color: #2b1b33;
      border-radius: 10px;
    }
  }
}

@media screen and (min-width: 1500px) {
  .Search {
    margin-left: 10rem;

    form {
      width: 30rem;
    }

    .main {
      gap: 1rem;
    }
  }
}

/*@media only screen and (max-width: 768px) {
    
    .Search {

    .ContainerBackForm{

        form {
            display: flex;
            justify-content: space-between;

            input {
                font-size: .8rem;
            }
        }
    }

  }


}

@media only screen and (min-width: 768px) {

.Search {
    
    .ContainerBackForm{
        margin-top: -.7rem;
        margin-left: 10rem;
        height: 80vh;
        height: fit-content;

        form {
            display: flex;
            justify-content: space-between;
            width: 50%;
        }
    }

    .main {
        width: 87.5%;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-x: scroll;
        gap: 20px;
        align-items: center;
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin-left: 70px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


        
    }

    .main::-webkit-scrollbar { 
        display: none; 
    }

}
}*/
