.FavouritePage {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    
    .Back {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-weight: 600;
        width: fit-content;
    }

    .containerFavouritePage{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-y: scroll;
        height: 70vh;
        border-radius: .8rem;
        padding: .5rem;
        box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 1);   

        .Content{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background-color: rgba(0, 0, 0, 0.276);
            padding: 1rem;
            border-radius: .8rem;
    
            .mainContent{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .infoContent{
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    
                    img {
                        border-radius: 1rem;
                        width:75px;
                        height: 75px;
                    }
        
                }
    
                .infoTrack{
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    
                    h2 {
                        width: 100%;
                        align-self: flex-start;
                        text-transform: capitalize;
                        font-size: 1.1rem;
                    }
    
                    h3{
                        align-self: flex-start;
                        font-size: 1rem;
                        color: #939393;
                        font-weight: 600;
                    }
                }
    
                .Heart {
                    cursor: pointer;
                    font-size: 1.5rem;
                    color:  #DB00FF;
                    filter: drop-shadow(0px 0px 5px #DB00FF);
                }
            }
        }
        
        audio {
            align-self: center;
            width: 100%;
        }
    }

}

@media only screen and (min-width: 1200px) {
    
    .FavouritePage{
        margin-left: 8rem;
        
        .containerFavouritePage{
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            overflow-y: scroll;
            height: 65vh;
            
            .Content{
                width: 32%;
                height: fit-content;

                .mainContent{
                    .infoContent{
                        img {
                            width: 100px;
                            height: 100px;
                        }
                    
                    h2 {

                        width: 100%;
                        font-size: 1.2rem;
                    }

                    .Heart {
                        font-size: 2rem;
                    }

                    .infoTrack{
                        width: 100%;
                        align-items: center;
                    } 

                    }
                }
            }
        }

        .containerFavouritePage::-webkit-scrollbar {
            display: flex;
            width: 10px;
            }
              
        .containerFavouritePage::-webkit-scrollbar-thumb {
            background-color: #52005f;
            border-radius: 10px;
            }
              
        .containerFavouritePage::-webkit-scrollbar-track {
            background-color: #2B1B33;
            border-radius: 10px;
            }
        }
    }


    