.MenuOverlay {
    background-color: rgba(0, 0, 0, 0.93);
    width: 100%;
    height: 100vh;
    z-index: 100;
    position: fixed;
    animation: in-circle-swoop 2s;
    
    @keyframes in-circle-swoop {
        from {
          clip-path: var(--circle-top-right-out);
        }
        to {
          clip-path: var(--circle-bottom-right-in);
        }
      }
    
      .MenuATendina {
        width: 100%;
        height: 100vh;
        z-index: 100;
        background-color:#221627; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .divCloseBtn {
            position: absolute;
            right: 17px;
            top: 17px;

            .CloseBtn {
                color: white;
                font-size: 2.9rem;
                cursor: pointer;
            }
        }

        .MenuLista{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        
            li {
                list-style: none;
                width: 13rem;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(252, 247, 255, 0) 100%);
                box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.192);
                border-radius: 1rem;
                text-align: center;
                text-transform: uppercase;
                cursor: pointer;

                .MenuItem {
                    text-decoration: none;
                    color: #939393;
                    font-weight: bold;
                    padding: 1.2rem 2.4rem;
                }
            }
        
            li:hover {
                background: rgba(0, 0, 0, 0.42);
                box-shadow: none;
                transition: all .35s;

                .MenuItem {
                    color: white;
                }
            }
        }
        
        .Logout {
            border: none;
            width: 13rem;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(252, 247, 255, 0) 100%);
            box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.192);
            border-radius: 1rem;
            text-align: center;
            padding: 1.2rem 2.4rem;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1rem;
            cursor: pointer;
            color: #939393;
        }

        .Logout:hover {
            background: rgba(0, 0, 0, 0.42);
            box-shadow: none;
            transition: all .35s;
            color: white;
        }

        img {
            position: absolute;
            bottom: 40px;
        }
    }
}
