@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background: linear-gradient(197.56deg,#100f0f 6.06%, #2B1B33 97.9%); 
  overflow-y: hidden;
}

a, button{
  cursor: pointer;
}