.Homepage{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%);
   
    .topContent{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;

            a{
                text-decoration: none;
                h2{
                    font-size: 1rem;
                    color: white;
                }

                h5{
                    color: rgb(121, 121, 121);
                    font-size: .9rem;
                }
            }
        }

        .container_Content{
            display: flex;
            gap: 1rem;
            overflow: hidden;
            overflow: scroll;

            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .5rem;
                text-decoration: none;
                font-weight: 500;

                img {
                    width: 85px;
                    height: 85px;
                    border-radius: 1rem;
                }

                h5{
                    color: white;
                    text-align: center;   
                }

                .imgTopAlbum{
                    margin-bottom: 1rem
                }
            }

            .contentTopTrack{
                background: linear-gradient(180deg, rgba(252, 247, 255, 0.08) 0%, 
                rgba(252, 247, 255, 0) 100%);
                border-radius: 1rem;
                padding: .5rem;
                padding-bottom: .2rem;

                .icon{
                    font-size: 1.4rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .Homepage{
        width: 83%;
        top: 53%;
        left: 55%;
        transform: translate(-50%, -53%);

        .topContent{
            .container_Content::-webkit-scrollbar{
                display: none;
            }
        }
    }
}

@media screen and (min-width: 1024px) {

    .Homepage{
        width: 85%;
        top: 53%;
        left: 55%;
        transform: translate(-50%, -53%);

        .topContent{
            .container_Content::-webkit-scrollbar{
                display: none;
            }
        }
    }
}

@media screen and (min-width: 1200px) {

    .Homepage{
        width: 85%;
        top: 51%;
        left: 53%;
        transform: translate(-50%, -51%);
        gap: 2rem;

        .topContent{
            .header{
                a{
                    text-decoration: none;

                    h2{
                        font-size: 1.5rem;
                    }
    
                    h5{
                        font-size: 1.2rem;
                    }
                }
            }

            .container_Content{
                gap: 2rem;
    
                a{
                    gap: 1rem;
    
                    img {
                        width: 120px;
                        height: 120px;
                        border-radius: 1rem;
                    }
    
                    h5{
                        color: white;
                        text-align: center;   
                        font-size:.9rem;
                    }
    
                    .imgTopAlbum{
                        margin-bottom: 1rem
                    }
                }
    
                .contentTopTrack{
                    padding: .2rem;
    
                    .icon{
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}