.Back {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    position: absolute;
    left: 8%;
}

.TopArtist{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: scroll;
    color: white;
    margin-top: 2rem;

    .Content{
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        gap: 1rem;
        height: 70vh;

        .container_Content{
            display: flex;
            align-items: center;
            gap: 1rem;
            width: 100%;

            img{
                width: 75px;
                height: 75px;
                border-radius: 26px;
            }

            .infoArtist{
                display: flex;
                flex-direction: column;
                gap: .2rem;
                
                h2{
                    font-size: 1rem;
                }
                
                h3, 
                h4{
                    text-transform: capitalize;
                    font-size: 1rem;
                    color: whitesmoke;
                    font-weight: 100;
                }
            }
        }
    }
}

@media screen and (min-width: 768px){

    .Back {
        position: absolute;
        left: 13.5%;
    }

    .TopArtist{
        position: absolute;
        top: 50%;
        left: 56%;
        transform: translate(-50%, -50%);
        margin-top: 1rem;

        .Content{
            width: fit-content;
            height: 65vh;

            .container_Content{
                img{
                    width: 90px;
                    height: 90px;
                    border-radius: 1.8rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px){

    .Back {
        top: 15%;
    }    

    .TopArtist{
        position: absolute;
        top: 50%;
        left: 56%;
        transform: translate(-50%, -50%);
        margin-top: 1rem;

        .Content{
            width: fit-content;
            height: 66vh;
            flex-wrap: wrap;

            .container_Content{
                img{
                    width: 90px;
                    height: 90px;
                    border-radius: 1.8rem;
                }
            }
        }
    }
    
    .TopArtist::-webkit-scrollbar{
        display: none;
    }
}

@media screen and (min-width: 1200px){

    .TopArtist{
        .Content{
            height: 65vh;
            flex-wrap: wrap;

            .container_Content{
                img{
                    width: 120px;
                    height: 120px;
                    border-radius: 1.8rem;
                }

                .infoArtist{
                    display: flex;
                    flex-direction: column;
                    gap: .2rem;
                    
                    h2{
                        font-size: 1.3rem;
                    }
                    
                    h3, 
                    h4{
                        text-transform: capitalize;
                        font-size: 1.2rem;
                        color: whitesmoke;
                        font-weight: 100;
                    }
                }
            }
        }
    }
}