.Back {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: flex;
    padding: 0 20px;
    align-items: center;
    width: fit-content;
    font-weight: bold;
}

.TopAlbum{
    width: 85%;
    height: 68vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: scroll;
    color: white;
    margin: 20px;

    .container_Content{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .seeAll {

                font-size: .8rem;
                color: #939393;
                text-align: right;
                text-decoration: none;
        }

        img {
            width: 116px;
            height:116px;
            border-radius: 26px;
        }

        .infoAlbum {
            width: 120px;
            line-height: 20px;

            h2 {
                font-size: .8rem;
            }
            
            span {
                font-size: .8rem;
                color: #939393;
                font-weight: 100;
            }
        }
        
    }
}

@media only screen and (min-width: 768px) {

    .TopAlbum{
        width: 85%;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-x: scroll;
        gap: 40px;
        align-items: center;
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin-left: 70px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 600px;

        .container_Content{
            width: 350px;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;
        }
        
    }

}