.Back {
    color: white;
    padding: 20px;
}

.TopAlbum{
    width: 85%;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: scroll;
    color: white;
    margin: 20px;
    position: absolute;
    bottom: 90px;

    .container_Content{
        display: flex;
        align-items: center;
        gap: 1rem;

        .seeAll {

                font-size: .8rem;
                color: #939393;
                text-align: right;
                text-decoration: none;
        }

        img {
            width: 116px;
            height:116px;
            border-radius: 26px;
        }

        .infoAlbum {

            h2 {
                font-size: .8rem;
            }
            
            span {
                font-size: .8rem;
                color: #939393;
                font-weight: 100;
            }
        }
        
    }
}

@media only screen and (min-width: 768px) {

    .TopAlbum{
        width: 85%;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-x: scroll;
        gap: 100px;
        align-items: center;
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin-left: 70px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 600px;

        .container_Content{
            width: 250px;
            align-items: center;
            justify-content: flex-start;
        }
    }

}