.Navbar ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 20px;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .MenuItem {
    display: flex;
    flex-direction: row;
    gap: 5px;

    .MenuTitle {
      display: none;
    }
  }
}

@media (min-width: 800px) {
  .Navbar ul {
    flex-direction: column;
    gap: 50px;
    font-size: 1.5rem;
  }
}
