.Navbar ul {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  margin: 20px;
  gap: 36px;
  background: linear-gradient(180deg, rgba(252, 247, 255, 0.08) 0%, rgba(252, 247, 255, 0) 100%);
  border-radius: 26px;
  padding: 20px;
  position: absolute;
  bottom: 0;

  li {
    list-style: none;
  }

  a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
  }

  a:hover, a:active{
    color:  #DB00FF;
    filter: drop-shadow(0px 0px 15px #DB00FF);
  }

  .MenuItem {
    display: flex;
    flex-direction: row;
    gap: 5px;

    .MenuTitle {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .Navbar ul {
    flex-direction: column;
    gap: 50px;
    font-size: 1.5rem;
    width: fit-content;
    gap: 80px;
    background: linear-gradient(90deg, rgba(252, 247, 255, 0.08) 0%, rgba(252, 247, 255, 0) 100%);

  }
}
