.Album {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    margin: auto;

    .linkAlbum {
        width: fit-content;
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-weight: 600;
    }

    .divIframe {
        display: flex;

        iframe {
            border-radius: 1.5rem;
            border: none;
            height: 73vh;
        }
    }
}

@media screen and (min-width: 1200px) {

    .Album {
        margin-left: 8rem;

        .divIframe {
            display: flex;
            
            iframe {
                border-radius: 1.5rem;
                border: none;
                height: 63.5vh;
            }
        }
    }
}

/*@media only screen and (min-width: 768px) {

    .Album { 
        position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(-0%, -50%);
            margin-left: 70px;
            justify-content: center;
            align-items: center;

        .linkAlbum {
            margin-top: 1.7rem;
        margin-left: 7rem;
        }

    .containerAlbum {
        display: none;
    }

    .divIframe {
        display: flex;
       
        iframe {
            height: 400px;
        }
    }
    }
}*/