.SingleArtist {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: white;

  .Back {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    width: fit-content;
  }

  .containerSingleArtist {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    .mainArtist {
      display: flex;
      gap: 1rem;
      align-items: center;

      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
      }

      .infoMainArtist {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h2 {
          font-size: 1.4rem;
        }

        h3 {
          font-size: 1rem;
          color: #ccc;
        }

        h4 {
          font-size: 0.8rem;
          color: #ccc;
        }
      }
    }

    .container_Content{
      display: flex;
      flex-direction: column;

      span {
        font-size: 1.2rem;
        text-align: center;
        font-weight: 600;
        margin-bottom: 1rem;
      }
      
      .Content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-y: scroll;
        height: 44.5vh;
        box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 1);
        border-radius: 10px;
        padding: 0.5rem 1rem;
  
        .infoMainAlbum {
          a {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.276);
            padding: 1rem;
            border-radius: 1.4rem;
            gap: 1rem;
            text-decoration: none;
  
            img {
              width: 110px;
              height: 110px;
              border-radius: 1.4rem;
            }
  
            .infoAlbum {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
  
              h2 {
                font-size: 1rem;
                font-weight: 600;
                color: white;
              }
  
              h3,
              h4,
              h5 {
                font-size: 0.7rem;
                font-weight: 600;
                color: #ccc;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px){

  .SingleArtist {
    margin-left: 8rem;

    .containerSingleArtist {
      flex-direction: row;
      justify-content: space-between;

      .mainArtist {
        align-self: flex-start;
        flex-direction: column;
        gap: 1rem;

        img {
          width: 300px;
          height: 300px;
        }
  
        .infoMainArtist {
          gap: 1rem;
  
          h2 {
            font-size: 2rem;
          }
  
          h3 {
            font-size: 1.5rem;
            color: #ccc;
          }
  
          h4 {
            font-size: 1rem;
            color: #ccc;
          }
        }
      }
  
      .container_Content {
        width: 65%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 1);
        
        span {
          font-size: 1.5rem;
          text-align: center;
          font-weight: 600;
          margin-bottom: 0rem;
        }

        .Content{
          height: 62vh;
          width: 100%;
          overflow-y: scroll;

          .infoMainAlbum {
            a {
              display: flex;
              flex-direction: row;
              align-items: center;
              background-color: rgba(0, 0, 0, 0.276);
              padding: 1rem;
              border-radius: 1.4rem;
              gap: 1rem;
              text-decoration: none;
    
              img {
                width: 110px;
                height: 110px;
                border-radius: 1.4rem;
              }
    
              .infoAlbum {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
    
                h2 {
                  font-size: 1.5rem;
                  font-weight: 600;
                  color: white;
                }
    
                h3,
                h4,
                h5 {
                  font-size: 1rem;
                  font-weight: 600;
                  color: #ccc;
                }
              }
            }
          }
        }
      }

      .container_Content::-webkit-scrollbar {
        display: flex;
        width: 10px;
      }
      
      .container_Content::-webkit-scrollbar-thumb {
        background-color: #52005f;
        border-radius: 10px;
      }
      
      .container_Content::-webkit-scrollbar-track {
        background-color: #2B1B33;
        border-radius: 10px;
      }
    }
  }
}

@media screen and (min-width: 1500px) {

  .SingleArtist {
    margin-left: 10rem;

    .containerSingleArtist {
      .mainArtist {
        margin-left: 5rem;
      }
    }
  }
}



/*@media only screen and (min-width: 480px) {
  .SingleArtist {
    .containerSingleArtist {
      margin-top: 0.5rem;

      .mainArtist {
        .infoMainArtist {
          h2 {
            font-size: 1.5rem;
          }

          h3 {
            font-size: 1rem;
            color: #ccc;
          }

          h4 {
            font-size: 0.8rem;
            color: #ccc;
          }
        }
      }

      span {
        font-size: 1.2rem;
      }

      .Content {
        height: 50vh;

        .infoMainAlbum {
          a {
            gap: 0.9rem;

            img {
              width: 130px;
              height: 130px;
            }

            .infoAlbum {
              gap: 0.6rem;

              h2 {
                font-size: 1rem;
              }

              h3,
              h4,
              h5 {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .SingleArtist {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 75vh;
    margin-left: 2rem;

    .Back {
      display: flex;
      align-items: center;
      font-weight: 600;
      padding: 0.5rem 0;
      text-transform: uppercase;
      width: fit-content;
    }

    .containerSingleArtist {
      margin-top: 0.5rem;

      .mainArtist {
        img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
        }

        .infoMainArtist {
          gap: 0.5rem;

          h2 {
            font-size: 1rem;
          }

          h3 {
            font-size: 0.8rem;
          }

          h4 {
            font-size: 0.7rem;
          }
        }
      }

      span {
        font-size: 0.9rem;
      }

      .Content {
        height: 40vh;

        .infoMainAlbum {
          a {
            gap: 1.3rem;

            img {
              width: 130px;
              height: 130px;
            }

            .infoAlbum {
              gap: 0.7rem;

              h2 {
                font-size: 0.9rem;
              }

              h3,
              h4,
              h5 {
                font-size: 0.7rem;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .SingleArtist {
    width: 80%;
    margin-left: 2rem;

    .Back {
      padding: 0.5rem 0;
    }

    .containerSingleArtist {
      margin-top: 0.9rem;
      gap: 1.5rem;

      .mainArtist {
        gap: 1rem;

        img {
          width: 120px;
          height: 120px;
        }

        .infoMainArtist {
          gap: 0.7rem;

          h2 {
            font-size: 1rem;
          }

          h3 {
            font-size: 0.8rem;
          }

          h4 {
            font-size: 1rem;
          }
        }
      }

      .Content {
        height: 45vh;

        .infoMainAlbum {
          a {
            gap: 1.7rem;

            img {
              width: 140px;
              height: 140px;
            }

            .infoAlbum {
              gap: 0.8rem;

              h2 {
                font-size: 1rem;
              }

              h3,
              h4,
              h5 {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
}*/