.SingleArtist {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
    height: 75vh;
    
    .Back {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-weight: 600;
        padding: 0.5rem 0;
        text-transform: uppercase;
        width: fit-content;
    }

    .containerSingleArtist {
         gap: 1rem;
         display: flex;
         flex-direction: column;

         .mainArtist{
            display: flex;
            gap: 1rem;
            align-items: center;
            
            img{
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }

            .infoMainArtist{
                display: flex;
                flex-direction: column;
                gap: .5rem;

                h2{
                    font-size: 1.5rem;
                }

                h3{
                    font-size: 1rem;
                    color: #ccc;
                }

                h4{
                    font-size: .8rem;
                    color: #ccc;
                }
            }
         }

         span{
            font-size: 1.2rem;
            text-align: center;
            font-weight: 600;
         }
         
         .Content{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            overflow: scroll;
            height: 42.5vh;
            box-shadow: 0 0 10px black;
            border-radius: 1.4rem;
            padding: .5rem 1rem;
            
            .infoMainAlbum{

                a{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background-color: rgba(0, 0, 0, 0.276);
                    padding: 1rem;
                    border-radius: 1.4rem;
                    gap: .5rem;
                    text-decoration: none;

                    img {
                        width: 110px;
                        height: 110px;
                        border-radius: 1.4rem;
                    }
    
                    .infoAlbum{
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
    
                        h2 {
                            font-size: 1rem;
                            font-weight: 600;
                            color: white;
                        }
                    
                        h3, h4, h5 {
                            font-size: .8rem;
                            font-weight: 600;
                            color: #ccc;
                        }
                    }
                }
            }
        }
    }
}
