.Categories {
  width: 85%;
  height: 73vh;
  display: flex;
  flex-direction: column;
  color: white;
  margin: auto;
  
  .Back {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: fit-content;
    font-weight: 600;
    margin-bottom: .5rem;
  }
  
  .wrapper {
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 1rem 0;
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 1);
    
    .Content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.08) 0%,
        rgba(252, 247, 255, 0) 100%
      );
      box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      width: 9rem;
      height: 7rem;
      cursor: pointer;
      transition: all 0.35s;
      position: relative;
      gap: 16px;
      

      .Picture {
        width: 100%;
        height: 60px;
        border-radius: 26px 26px 0 0;
        position: absolute;
        top: 0;
        z-index: 0;
        object-fit: cover;
      }

      h2 {
        font-size: .9rem;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        z-index: 1;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 75%;
      }

      .Play {
        cursor: pointer;
        font-size: 1.6rem;
      }

      .Play:hover,
      a:active {
        color: #db00ff;
        filter: drop-shadow(0px 0px 15px #db00ff);
      }
    }

    .Content:hover {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.08) 0%,
        rgba(255, 247, 247, 0) 100%
      );
      box-shadow: inset 4px 4px 4px 4px rgba(0, 0, 0, 0.174);
      border-radius: 26px;

      h2 {
        color: white;
        text-shadow: 0 0 4px black;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
    .Categories {
      margin-left: 8rem;

      .wrapper{
        width: 100%;
        padding-right: 1rem;
        height: 75vh;
      }

      .wrapper::-webkit-scrollbar {
        display: flex;
        width: 10px;
      }
      
      .wrapper::-webkit-scrollbar-thumb {
        background-color: #52005f;
        border-radius: 10px;
      }
      
      .wrapper::-webkit-scrollbar-track {
        background-color: #2B1B33;
        border-radius: 10px;
      }
  }


}


/*@media only screen and (min-width: 480px) {
  .Back {
    padding-left: 2rem;
  }

  .Categories {
    height: 70vh;
  }
}

@media only screen and (min-width: 768px) {
  .Back {
    margin-top: -1rem;
    padding-left: 7rem;
  }

  .Categories {
    width: 85%;
    flex-direction: row;
    align-items: flex-start;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-left: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
    margin-top: 3.5rem;

    .wrapper {
      gap: 30px;

      .Content {
        width: 180px;

        h2 {
          font-size: 1rem;
          text-align: center;
        }

        .Play {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .Back {
    margin-top: 0rem;
    padding-left: 9rem;
  }

  .Categories {
    height: 75vh;
    margin-top: 3.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .Back {
    padding-left: 8rem;
  }
}

@media only screen and (min-width: 1500px) {
  .Back {
    padding-left: 11rem;
  }
}*/
