.TopTrack {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;

  .Back {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    width: fit-content;
  }

  .Content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 1);
    height: 68vh;

    .container_Content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.276);
      border-radius: 16px;
      padding: 16px;

      .track {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 75px;
          height: 75px;
          border-radius: 16px;
        }

        .infoTrack {
          line-height: 1.5rem;

          h2 {
            width: 90%;
            font-size: 1rem;
            text-transform: capitalize;
          }

          h3 {
            color: rgb(121, 121, 121);
            font-size: 1rem;
            font-weight: 600;
          }
        }
      }

      a {
        .PlayCircle {
          font-size: 1.5rem;
          color: #db00ff;
        }

        .PlayCircle:hover {
          color: #db00ff;

          filter: drop-shadow(0px 0px 15px #db00ff);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .TopTrack {
    height: 75vh;

    .Content {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      height: 80vh;
      box-shadow: none;

      .container_Content {
        width: 45%;
        gap: 1rem;
        border-radius: 26px;

        .track {
          img {
            width: 80px;
            height: 80px;
          }
        }

        .PlayCircle {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .TopTrack {
    margin-left: 7rem;

    .Content {
      height: 80vh;
    }
  }
}

@media screen and (min-width: 1200px) {
  .TopTrack {
    margin-left: 8rem;

    .Content {
      width: 100%;
      height: 75vh;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow-y: scroll;
      overflow-x: hidden;

      .container_Content {
        width: 30%;

        .track {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 1rem;

          img {
            width: 120px;
            height: 120px;
            border-radius: 1.6rem;
          }

          .infoTrack {
            line-height: 1.5rem;

            h2 {
              width: 90%;
              font-size: 1rem;
              text-transform: capitalize;
            }

            h3 {
              width: 90%;
              color: rgb(121, 121, 121);
              font-size: 1rem;
              font-weight: 600;
            }
          }
        }
      }
    }

    .Content::-webkit-scrollbar {
      display: flex;
      width: 10px;
    }

    .Content::-webkit-scrollbar-thumb {
      background-color: #52005f;
      border-radius: 10px;
    }

    .Content::-webkit-scrollbar-track {
      background-color: #2b1b33;
      border-radius: 10px;
    }
  }
}

@media screen and (min-width: 1500px) {
  .TopTrack {
    margin-left: 10rem;
    height: 70vh;

    .Content {
      .container_Content {
        width: 22%;
      }
    }

    .Content::-webkit-scrollbar {
      display: none;
    }
  }
}
