.Track {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.276);
     padding: 20px;
     border-radius: 26px;

    span {
    line-height: 24px;


    h2 {
        font-size: .9rem;
        width: 200px;
    }

    p {
        font-size: .8rem;
    }
  }

button {
    background-color: transparent;
    border: none;
    cursor: pointer;

.btnPlay {
    width: 30px;
    height: 30px;
    color:  #DB00FF;
    filter: drop-shadow(0px 0px 5px #DB00FF);
}

.btnPause {
    width: 30px;
    height: 30px;
    color:  #DB00FF;
    filter: drop-shadow(0px 0px 5px #DB00FF);
}
}

}