.Track {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.276);
     padding: 1rem;
     border-radius: 1rem;
     gap: 1rem;

     img {
         width: 116px;
         height: 116px;
         border-radius: 1rem;
     }

    .infoTrack {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: .5rem;
       
        h2 {
            font-size: 1rem;
        }

        span {
            font-size: 1rem;
        }

        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            align-self: flex-end;
        
        .btnPlay {
            width: 30px;
            height: 30px;
            color:  #DB00FF;
            filter: drop-shadow(0px 0px 5px #DB00FF);
        }
        
        .btnPause {
            width: 30px;
            height: 30px;
            color:  #DB00FF;
            filter: drop-shadow(0px 0px 5px #DB00FF);
        }
        }
  }



}

@media only screen and (min-width: 768px) {

    .Track {
        width: 30%;
    }
}